<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <label for="photo_url">Photo URL:</label>
        <input type="text" id="photo_url" name="photo_url">
        
        <button type="submit">Register</button>
    </form>
</body>
</html>
